.main {
    height: 80vh;
    width: 140vh;
}
.info {
    box-sizing: border-box;
    border: solid 1px #ccc;
    background: rgba(255, 255, 255, 0.897);
    margin-bottom: 1em;
    width: 140vh;
}

.info > div {
    margin: 1%;
}

@media (min-width: 1400px){
    .info, .main{
        width: 100vh;
    }
}