<div *ngIf="ifSelected" class="info">
  <div>
    <strong>Name:</strong> {{ selectedItem?.name }}
  </div>
  <div>
    <strong>Gender:</strong> {{ selectedItem?.gender }}
  </div>
  <div>
    <strong>Age:</strong> {{ selectedItem?.age }}
  </div>
</div>
<ngx-datatable
  class="material selection-cell main"
  [rows]="rows"
  [headerHeight]="50"
  [scrollbarV]="true"
  [footerHeight]="50"
  [rowHeight]="50"
  [externalPaging]="true"
  [count]="page.totalElements"
  [offset]="page.pageNumber"
  (page)="setPage($event)"
  [selected]="selected"
  (select)="onSelect($event)"
  selectionType="single"
>

  <ngx-datatable-column name="Name" width="300">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <strong>{{ value }}</strong>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Gender" height="1000" width="300">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <i>{{ value }}</i>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Age" height="1000" width="300">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <i>{{ value }}</i>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
